# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

#
# Default build options. These are applied first and unconditionally.
#

# makes cache management consistent across machines
build --repository_cache=~/.cache/bazel-repo
fetch --repository_cache=~/.cache/bazel-repo
query --repository_cache=~/.cache/bazel-repo
build --disk_cache=~/.cache/bazel-disk

# If a command fails, print out the full command line.
build --verbose_failures

build --copt -std=c11

#
# Enable some warnings.
#
# See https://embeddedartistry.com/blog/2017/06/07/warnings-weverything-and-the-kitchen-sink/ for descriptions on what these entail.
#
build --copt -Wall
build --copt -Wpedantic
build --copt -Wextra

# Try and import a user specific configuration
try-import %workspace%/user.bazelrc
